
@{
    ViewData["Tittle"] = "Yeni Üyelik";
}

<i class="fa fa-face-smile fa-5x"></i>
<h2>TEŞEKKÜRLER</h2>
<p class="text-success">E-Posta Hesabınız Başarıyla Doğrulanmıştır.</p>
<p>Giriş yapmak için <a asp-action="Login"> Tıklayınız...</a> </p>

